$primary: #3b82f6;
$primary-light: #60a5fa;

.page {
  background-color: #eff6ff;
}

.header {
  position: sticky;
  z-index: 10;
}

.top-bar {
  display: flex;
  padding: 0 10px;
  align-items: center;
  justify-content: space-between;
  // background-color:#3B82F6;
  background: linear-gradient($primary, $primary-light);

  &__logo-link {
    display: flex;
    flex-shrink: 0;
    width: 50px;
    height: 50px;
  }

  &__title {
    margin: 0;
    width: fit-content;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  &__btn {
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
    color: #ffffff;
    width: 50px;
    height: 50px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    cursor: pointer;
    transition: transform 0.2s ease;

    &:focus-visible {
      outline: none;
      box-shadow: 0 0 0 3px #ffffff;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  &__icon {
    width: 80%;
    height: 80%;
    width: 24px;
    height: 24px;
    display: block;
  }
}

.menu {
  position: absolute;
  top: 100%;
  right: 0px;

  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  // transition: all 0.2s ease;
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;

  padding: 0 20px 20px 20px;
  background-color: #ffffff;
  color: #1e3a8a;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  &__item {
    padding-top: 20px;
  }

  &__item::after {
    content: "";
    position: relative;
    bottom: -2px;
    display: block;
    height: 1px;
    width: 100%;
    background-color: #1e3a8a;

    transition: transform 0.3s;
    transform: scale(0);
    transform-origin: left;
  }

  &__item:hover::after {
    transform: scale(1);
  }

  &__item:hover {
    background-color: #dbeafe;
    cursor: pointer;
  }

  &__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 24px;
    height: 24px;

    // font-family: 'Noto Sans Math', Roboto, sans-serif;
    font-size: 20px;
    font-weight: bold;

    border-radius: 12px;
    background: #ffeb3b;
    color: #1e3a8a;
    border: 1px solid #1e3a8a;
  }
}

.menu.open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.game {
  display: flex;
  flex-direction: column;
  // gap: 10px;
  justify-content: stretch;
  align-items: center;
  min-height: 100vh;

  &__container {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 560px;

    &--start {
      flex-direction: column;
      gap: 0;
    }

    &--play {
      padding-bottom: 40px;
    }

    &--tips {
      position: relative;

      &::before {
        color: #1e3a8a;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        position: absolute;
        top: -20px;
        content: "Обери правильну відповідь:";
      }
    }
  }

  &__input {
    all: unset;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    line-height: normal;
    cursor: text;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    &:focus {
      outline: none;
    }
  }

  &__start-title {
    color: #1e3a8a;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
  }

  &__start-menu.open {
    display: flex;
    background-color: #eff6ff;
    font-size: 24px;
    visibility: visible;
    opacity: 1;
    position: relative;
    align-items: center;
    justify-content: center;
  }

  &__box {
    width: 50px;
    height: 50px;
    // background-color: #e2ebf1;e
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    line-height: 1;

    background: #ffffff;
    border: 2px solid #bfdbfe;
    color: #1e3a8a;
    box-shadow: 0 4px 12px rgba(59, 130, 246, 0.08);

    &--tip {
      background: #dbeafe;
      border: 2px solid transparent;
      border: 2px solid #ffffff;
      color: #1e3a8a;
      cursor: pointer;
      transition:
        transform 0.15s ease,
        background 0.2s ease;

      &:hover {
        background: #bfdbfe;
        // transform: translateY(-2px);
        transform: scale(1.1);
      }
    }
  }
}

.hidden {
  visibility: hidden;
  height: 0;
  width: 0;
}
