$primary: #3b82f6;
$primary-light: #60a5fa;
$tablet-min-width: 768px;
$desktop-min-width: 1024px;

@mixin on-tablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

.page {
  &__body {
    background-color: #eff6ff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

    display: flex;
    flex-direction: column;
  }
}

.header {
  position: sticky;
  z-index: 10;

  flex: 0 0 auto;
}

.top-bar {
  position: relative;
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient($primary, $primary-light);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

  @include on-tablet {
    padding: 7px;
  }

  @include on-desktop {
    padding: 10px;
  }

  &__title {
    margin: 0;
    width: fit-content;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;

    @include on-tablet {
      font-size: 33px;
    }

    @include on-desktop {
      font-size: 44px;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    // width: 80px;

    // @include on-tablet {
    //   width: 120px;
    // }

    // @include on-desktop {
    //   width: 160px;
    // }
  }

  &__btn {
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
    color: #ffffff;
    width: 40px;
    height: 40px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.2s ease;

    @include on-tablet {
      font-size: 30px;
      width: 60px;
      height: 60px;
    }

    @include on-desktop {
      font-size: 40px;
      width: 80px;
      height: 80px;
    }

    &:focus-visible {
      outline: none;
      box-shadow: 0 0 0 3px #ffffff;
    }

    &:hover {
      transform: scale(1.1);
    }

    // &.hidden {
    //   display: block;
    //   opacity: 0;
    //   pointer-events: none;
    //   width: 40px;
    //   height: 40px;

    //   @include on-tablet {
    //     width: 60px;
    //     height: 60px;
    //   }

    //   @include on-desktop {
    //     width: 80px;
    //     height: 80px;
    //   }
    // }
  }

  &__icon {
    width: 24px;
    height: 24px;
    display: block;

    @include on-tablet {
      width: 36px;
      height: 36px;
    }

    @include on-desktop {
      width: 48px;
      height: 48px;
    }

    &--logo {
      padding: 8px;

      @include on-tablet {
        padding: 12px;
      }

      @include on-desktop {
        padding: 16px;
      }
    }
  }
}

.menu {
  will-change: transform, opacity;
  position: fixed;
  // position: absolute;

  top: 50px;
  right: 0px;

  opacity: 0;
  visibility: hidden;

  transform: translateY(-10px);
  // transform: translateY(-10px) scale(0.01);

  transform-origin: top right;
  // transition: all 0.2s ease;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;

  padding: 0 20px 20px 20px;
  background-color: #ffffff;
  background-color: #e2eefd;
  color: #1e3a8a;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;

  @include on-tablet {
    top: 74px;
    font-size: 27px;
  }

  @include on-desktop {
    top: 100px;
    font-size: 36px;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  &__item {
    padding-top: 20px;
  }

  &__item-block {
    display: flex;
    align-items: center;
  }

  &__item::after {
    content: "";
    position: relative;
    bottom: -2px;
    display: block;
    height: 2px;
    width: 100%;
    background-color: #1e3a8a;
    background-color: #3b82f6;

    transition: transform 0.3s;
    transform: scale(0);
    transform-origin: left;

    @include on-tablet {
      height: 3px;
    }

    @include on-desktop {
      height: 4px;
    }
  }

  &__item:hover::after {
    transform: scale(1);
  }

  &__item:hover,
  &__item.active {
    color: #3b82f6;
    cursor: pointer;
  }

  &__item:hover .menu__icon,
  &__item.active .menu__icon {
    color: #3b82f6;
    border-color: #3b82f6;
  }

  &__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 24px;
    height: 24px;

    // font-family: 'Noto Sans Math', Roboto, sans-serif;
    font-size: 20px;
    font-weight: bold;

    border-radius: 6px;
    background: #ffeb3b;
    color: #1e3a8a;
    border: 2px solid #1e3a8a;
    box-sizing: border-box;

    @include on-tablet {
      font-size: 30px;
      border-width: 3px;
      border-radius: 9px;
      width: 36px;
      height: 36px;
    }

    @include on-desktop {
      font-size: 40px;
      border-width: 4px;
      border-radius: 12px;
      width: 48px;
      height: 48px;
    }
  }

  &__text {
    margin-left: 10px;
  }
}

.menu.open {
  // display: block;
  opacity: 1;
  visibility: visible;

  // transform: translateY(0) scale(1);
  transform: translateY(0);

  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  // box-shadow: 0 4px 12px rgba(59, 130, 246, 0.08);
  border-radius: 10px;
}

.main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  // overflow: hidden;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 310px;

  @include on-tablet {
    min-width: 465px;
  }

  @include on-desktop {
    min-width: 620px;
  }

  &__container {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 560px;
    box-sizing: border-box;

    @include on-tablet {
      gap: 15px;
      max-width: 840px;
    }

    @include on-desktop() {
      gap: 20px;
      max-width: 1120px;
    }

    &--start {
      flex-direction: column;
      gap: 0;
    }

    &--play {
      padding-bottom: 40px;

      @include on-tablet {
        padding-bottom: 60px;
      }

      @include on-desktop() {
        padding-bottom: 80px;
      }
    }

    &--tips {
      position: relative;
      // margin-bottom: 20px;

      &::before {
        color: #1e3a8a;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        position: absolute;
        top: -20px;
        // content: "Обери правильну відповідь:";
        content: var(--tips-title);

        @include on-tablet {
          font-size: 18px;
          top: -30px;
        }

        @include on-desktop() {
          font-size: 24px;
          top: -40px;
        }
      }
    }
  }

  &__input {
    all: unset;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    font: inherit;
    color: inherit;
    box-sizing: border-box;
    background: transparent;
    line-height: normal;
    cursor: text;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    &:focus {
      outline: none;
    }
  }

  &__title {
    margin-block: 15px;
    display: block;
    border-radius: 10px;
    background-color: #e2eefd;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border: 2px solid #bfdbfe;
    box-sizing: border-box;

    // box-shadow: 0 4px 12px rgba(59, 130, 246, 0.08);
    line-height: 2;
    color: #1e3a8a;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;

    @include on-tablet {
      margin-block: 24px;
      border-width: 3px;
      font-size: 36px;
      border-radius: 15px;
    }

    @include on-desktop() {
      margin-block: 32px;
      border-width: 4px;
      font-size: 48px;
      border-radius: 20px;
    }
  }

  &__start-menu.open {
    display: flex;
    top: 0;
    // background-color: #eff6ff;
    font-size: 24px;
    visibility: visible;
    opacity: 1;
    position: relative;
    align-items: center;
    justify-content: center;
    border: 2px solid #bfdbfe;
    box-sizing: border-box;

    @include on-tablet {
      font-size: 36px;
      border-width: 3px;
      border-radius: 15px;
    }

    @include on-desktop {
      font-size: 48px;
      border-width: 4px;
      border-radius: 20px;
    }

    & .menu__icon {
      @include on-tablet {
        font-size: 36px;
        border-width: 3px;
        border-radius: 9px;
        width: 36px;
        height: 36px;
      }

      @include on-desktop {
        font-size: 48px;
        border-width: 4px;
        border-radius: 12px;
        width: 48px;
        height: 48px;
      }
    }
  }

  &__box {
    width: 50px;
    height: 50px;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    line-height: 1;

    background: #ffffff;
    border: 2px solid #bfdbfe;
    color: #1e3a8a;
    box-shadow: 0 4px 12px rgba(59, 130, 246, 0.08);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

    @include on-tablet {
      width: 75px;
      height: 75px;
      border-radius: 15px;
      font-size: 36px;
      border-width: 3px;
    }

    @include on-desktop() {
      width: 100px;
      height: 100px;
      border-radius: 20px;
      font-size: 48px;
      border-width: 4px;
    }

    &--correct {
      background-color: #bbf7d0;
      border-color: #22c55e;
      color: #166534;
    }

    &--wrong {
      background-color: #fecaca;
      border-color: #ef4444;
      color: #7f1d1d;
    }

    &--tip {
      background: #dbeafe;
      border: 2px solid transparent;
      border: 2px solid #ffffff;
      color: #1e3a8a;
      cursor: pointer;
      transition:
        transform 0.15s ease,
        background 0.2s ease;

      &.active {
        background: #bfdbfe;
        transform: scale(1.1);
      }

      @media (hover: hover) {
        &:hover {
          background: #bfdbfe;
          transform: scale(1.1);
        }
      }
    }
  }
}

.hidden {
  display: none;
  visibility: hidden;
  height: 0;
  width: 0;
}

.unvisible {
  visibility: hidden;
  pointer-events: none;
}