:root {
  --color-primary: #4c9ffe;
  --radius: 12px;
  --font-main: 'Roboto', sans-serif;
}

.page__body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.header {
  /* margin: 100px auto; */
}

.top-bar__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: stretch;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  gap: 10px;
  background-color: #ffffff;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 560px;
}

.math-actions {
  max-width: 830px;
  text-transform: uppercase;
}

.box {
  width: 100px;
  height: 100px;
  background-color: #e2ebf1;
  font-size: 60px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  line-height: 1;
}

.box.operator {
  font-family: 'Noto Sans Math', Roboto, sans-serif;
}

.hidden {
  visibility: hidden;
}

.math-action {
  position: relative;
  width: 200px;
  height: 60px;
  font-size: 25px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.math-action:hover,
.math-action.active {
  background-color: #b6e0f7;
  cursor: pointer;
  color: transparent;
}

.math-action.active {
  border: 2px solid #000;
  box-sizing: border-box;
}

.math-action::after {
  content: attr(data-hover);
  font-family: 'Noto Sans Math', Roboto, sans-serif;
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
  color: black;
  opacity: 0;
  transition: opacity 0.5s;
}

.math-action:hover::after,
.math-action.active::after {
  opacity: 1;
}

.tips {
  position: relative;
}

.tips::before {
  position: absolute;
  top: -30px;
  content: "Обери правильну відповідь:";
}

.tip {
  width: 140px;
  border-radius: 50px;
}

.tip:hover {
  background-color: #b6e0f7;
  cursor: pointer;
}

.resfield {
  all: unset;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  line-height: normal;
  cursor: text;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.resfield:focus {
  outline: none;
}

@media (max-width: 480px) {
  .header {
    margin: 50px auto;
  }

  .top-bar__title {
    font-size: 25px;
  }

  .container {
    max-width: 100%;
  }

  .math-actions {
    max-width: 320px;
  }

  .box {
    width: 50px;
    height: 50px;
    font-size: 30px;
    border-radius: 5px;
  }

  .math-action {
    width: 150px;
    height: 50px;
    font-size: 16px;
    border-radius: 15px;
  }

  .math-action::after {
    font-size: 22px;
  }

  .tip {
    width: 70px;
    border-radius: 25px;
  }
}