body {
    margin: 0;
}

.action-description {
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    display: block;
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    /* горизонталь */
    align-items: center;
    /* вертикаль */
    min-height: 100vh;
}

.container {
    /* width: 560px; */
    display: flex;
    gap: 10px;
    /* відстань між div */
    background: #ffffff;
    justify-content: center;  /* горизонталь всередині container */
    flex-wrap: wrap;          /* якщо мало місця на мобільних — переносить на наступний ряд */
    width: 100%;              /* займати всю ширину wrapper */
    max-width: 560px;
}

.box {
    width: 100px;
    height: 100px;
    background: #edf8f8;
    font-size: 60px;
    font-weight: bold;
    display: flex;           /* важливо для центрування внутрішнього input */
    justify-content: center; /* центр по горизонталі */
    align-items: center;     /* центр по вертикалі */
    text-align: center;
}

.hidden {
  visibility: hidden;
}

.tip {
  border-radius: 50px;
}

.tip:hover {
  background-color: #b6e0f7;
  cursor: pointer;
}

.resfield {
    all: unset;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    /* поведінка тексту */
    line-height: normal;
    cursor: text;

    /* Firefox — прибрати стрілки */
    -moz-appearance: textfield;
}

/* Chrome, Edge, Safari — прибрати стрілки */
.resfield::-webkit-inner-spin-button,
.resfield::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* (необовʼязково) фокус */
.resfield:focus {
    outline: none;
}

@media (max-width: 480px) {
    .action-description {
        font-size: 25px;
    }

    .container {
        max-width: 100%;
    }

    .box {
        width: 50px;
        height: 50px;
        font-size: 30px;
    }
}